
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chain Perks</title>
    <!-- <link href="../public/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/public/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="../public/my.css" rel="stylesheet"> -->
</head>